#----------------------------
# v0.0.1 18.12.2008
# On Windows put this file to c:/findik.cfg
# On Linux put this file to /etc/findik.cfg
# You can change  defaults paths from configuration.cpp
#---------------------------
#

findik:
{
	server:
	{
		http:
		{
			run_with_squid = TRUE;
			squid_host = "localhost";
			squid_port = 3128;

#                       Should be same with persistent_request_timeout setting of squid. (unit: seconds)
			squid_keepalive_timeout = 60;

			max_object_size = 1048576;
		};

#		Timeout time for local read.
		local_receive_timeout = 15;

#		Timeout time for remote read.
		remote_receive_timeout = 60;

	};

	connection:
	{
		queue_size = 8;
	};

	db:
	{
		mysql:
		{
			host = "localhost";
			database = "findik";
			username = "root";
			password = "";
		};

		pool_size = 32;
	};

	io:
	{
		number_of_threads = 10;
	};

	reply:
	{
		reply_file = "/etc/index.html";
	};

	filters:
	{
		http:
		{
			use_clamd = TRUE;
			clamd_host = "localhost";
			clamd_port = "3310";
		};
	};

	authentication:
	{
		http:
		{
			use_ad_kerbv5_negotiation_auth = FALSE;
			ad_service_name = "HTTP/webfilter1.burakoguz.net@BURAKOGUZ.NET";
			ad_keytab_file = "/etc/findik/x.keytab"
		}
	}
};

