#----------------------------
# v0.0.1 18.12.2008
# On Windows put this file to c:/findik.cfg
# On Linux put this file to /etc/findik.cfg
# You can change  defaults paths from configuration.cpp
#---------------------------
#

findik:
{
	ssl:
	{
		local:
		{
			private_key = "/etc/findik/ssl/private.pem";
			certificate = "/etc/findik/ssl/public.pem";
			dh_parameters = "/etc/findik/ssl/dh.pem";
		};

		remote:
		{
			ca = "/etc/findik/ssl/ca.pem";
		};
	};

	server:
	{
		http:
		{
			run_with_squid = FALSE;
			squid_host = "localhost";
			squid_port = 3128;

#                       Should be same with persistent_request_timeout setting of squid. (unit: seconds)
			squid_keepalive_timeout = 60;

			max_object_size = 1048576;
		};

#		Timeout time for local read.
		local_receive_timeout = 15;

#		Timeout time for remote read.
		remote_receive_timeout = 60;

		max_session = 32;
		max_connection_per_session = 4;
	};

	connection:
	{
		queue_size = 8;
	};

	db:
	{
		mysql:
		{
			host = "localhost";
			database = "findik";
			username = "root";
			password = "";
		};

		pool_size = 32;
	};

	io:
	{
		number_of_threads = 10;
	};

	reply:
	{
		reply_file = "/etc/index.html";
		ssl_reply_file = "/etc/findik/ssl.html";
	};

	filters:
	{
		http:
		{
			use_clamd = FALSE;
			clamd_host = "localhost";
			clamd_port = "3310";
		};
	};

	authentication:
	{
		http:
		{
			use_ad_kerbv5_negotiation_auth = FALSE;
			ad_service_name = "HTTP/webfilter1.example.net@EXAMPLE.NET";
			ad_keytab_file = "/etc/findik/x.keytab";
		};
	};
};

